<h1> New Post </h1>
<%= form_for @post do |f| %>
  <%= f.label :title %>: 
  <%= f.text_field :title %>
 
  <%= f.hidden_field :username, value: current_user.username %>

  <%= f.label :review %>
  <%= f.text_field :review %>

  <%= f.submit %>
<% end %>
